* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: sans-serif;
 font-size: 14px;
}

body{
    width: 100%;
    min-width: 100%;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display:flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
}

.instagram-phone {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    min-height: 34rem;
}

.instagram-phone img {
    height: 50rem;
}
.group {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem;
    background-color: #fff;
    border:1px solid lightgray
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo {
    width: 19rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
}

.profile-photo img {
    height: 6rem;
}


.instagram-login {
    background-color: #0095fc;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 1rem;
}

.instagram-logout{
    color: #0099f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160,160,160);
}

.link-blue {
    color: #0099f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(./img/apple-download.png);
}

.app-download:nth-child(2){
    background-image: url(./img/google-play-download.png);
}

/*
    MEDIA QUEIRES
*/

@media (max-width:1024px){

    .instagram-wrapper {
        width: 90%;
    }

}

@media (max-width:658px){

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }


}